# ========================
# Backend - Go
# ========================
backend/bin/
backend/*.exe
backend/*.exe~
backend/*.dll
backend/*.so
backend/*.dylib
backend/*.test
backend/*.out
backend/vendor/
backend/.env
backend/.env.*
backend/main

# ========================
# Frontend - Angular
# ========================
frontend/node_modules
frontend/node_modules/*
frontend/dist/
frontend/.angular
frontend/.env
frontend/.env.*
frontend/.vscode
frontend/.vscode/*

# See https://docs.github.com/get-started/getting-started-with-git/ignoring-files for more about ignoring files.

# Compiled output
/dist
/tmp
/out-tsc
/bazel-out

# Node
/node_modules
npm-debug.log
yarn-error.log

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Miscellaneous
/.angular/cache
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings

# System files
.DS_Store
Thumbs.db



# ========================
# OS & Editor
# ========================
.DS_Store
Thumbs.db
.vscode/
.idea/
*.swp
*.swo
.env