<div class="container">
  <p-button severity="info" class="button-add-container" label="ADD" (onClick)="onclickAdd()" />
<p-table [value]="userList" size="small" showGridlines [tableStyle]="{'min-width':'50rem'}" >
  <ng-template #header>
    <tr class="custom-table">
      <th style=" text-align: center;">
        id
      </th>
       <th style=" text-align: center;">
        ชื่อ-สกุล
      </th>
       <th style=" text-align: center;">
        ที่อยู่
      </th>
       <th style=" text-align: center;">
        วันเกิด
      </th>
       <th style=" text-align: center;">
        อายุ
      </th>
      <th style=" text-align: center;">
        Actions
      </th>
    </tr>
  </ng-template>
    <ng-template #body let-userList>
    <tr>
      <td style="width: 3%; text-align: center;">
        {{userList.id}}
      </td>
       <td style="width: 20%;">
        {{userList.name}}
      </td>
        <td style="width: 20%;">
        {{userList.address}}
      </td>
       <td style="width: 20%;">
        {{userList.birthdate | date: 'dd/MM/yyyy'}}
      </td>
       <td style="text-align: center; width: 4%;">
        {{userList.age}}
      </td>
        <td style="width: 3%; text-align: center;">
             <p-button
          label="VIEW"
          size="small"
          severity="info"
          (onClick)="onclickView(userList)"
         />
      </td>
    </tr>
  </ng-template>
 <ng-template #emptymessage>
  <tr>
    <td [colSpan]="6" style="text-align: center;">
      ไม่มีข้อมูล
    </td>
  </tr>
</ng-template>
</p-table>
</div>
<app-edit-user-modal [user]="selectedUser" [visible]="visible" (visibleChange)="onCloseModal()" (onSave)="onSaveModal()" ></app-edit-user-modal>
